.body {
    background-color: #782221 ;
    width: 1160px;
    height: 100%;
}

html, body {
    display: flex;
    justify-content: center;
    border-right: black;
}

/* Pour le contenu @font-face */
 p, a {
    @font-face 
        font-family: Raleway ;
        src: 
        local(Raleway),
        url("./Police/Raleway-VariableFont_wght.woff"),
        url("./Police/Raleway-VariableFont_wght.ttf");
}

/* Pour les titres @import */
h1, h2, h3 { 
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
font-family: "Lato", sans-serif;
font-weight: 900;
font-style: normal;
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil {
    display: flex;
    justify-content: space-around;
    width : 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 0 black;
    cursor: zoom-in;
} 

a {
    text-decoration: none;
    color: white;
 }

 a:hover {
    text-decoration: underline;
 }

.description {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
}

.profil:hover {
    display: flex;
    justify-content: center;
}

.social-network {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: none;
    height: 100%;
    justify-content: center;
    gap: 10px;
}

.main {
    display: flex;
    overflow: auto;
}

.personal-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1%;
}

#about, #languages, #interests {
   background-color: #dbc2a4;
}


.personnal {
    display: flex;
    width: 80%;
    color: white;
    
}

.block {
    display: flex;
    width: 80%;
    color: white;

}

.personal-experience {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 80%;
    border-right: solid;
    padding: 15px;
   
}

.aptitude, .formation, .experience {
    background-color: #dbc2a4;
    border-right: #782221;
    width: 30%;
}

.social-network img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70px;
    height: 70px;

}

.social-network:hover { 
     opacity: 0.9; /* Réduit l'opacité à 50% au survol */
}

#update {
    display: flex;
    justify-content: center;
    color: white;
}